* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial;
  font-size: 1em;
}

body {
  background-color: #383838;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#title {
  color: white;
  font-size: 2.5em;
  font-family: OCR A Std, monospace, Georgia, Comic Sans MS, Roboto sans, Arial, Helvetica;
  font-weight: 800;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  padding-top: 5px;
  margin-left: 2.2rem;
}

#prompt-trace, #prompt-click {
  font-size: 2em;
  margin: 1em auto .5em auto;
  font-weight: 600;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  white-space: nowrap;
}

#prompt-trace-replace {
  display: none;
  font-size: 2em;
  margin: 1em auto .5em auto;
  font-weight: 600;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  white-space: nowrap;
}

.btn-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  margin: .5em auto .675em auto;
}

.btn-wrapper a {
  text-decoration: none;
}

.btn-wrapper a:hover {
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
}

.btn-wrapper #how-to-play {
  position: absolute;
  right: 160px;
  margin-top: 2.5px;
  background-color: #ddf;
  border-radius: 8px;
  padding: 4.25px;
  color: #555;
  font-family: Helvetica;
  font-weight: 600;
  font-size: .9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.btn-wrapper #help-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 3.5px;
  padding: 15px;
  position: absolute;
  right: 200px;
  margin-top: 35px;
  font-family: arial;
  font-weight: 600;
  width: 20em;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: 0;
}

#reset {
  display: inline;
  padding: 2.5px;
  border-radius: 6px;
  text-decoration: none;
}

#reset:hover {
  cursor: pointer;
  background-color: #fff;
}

#timer {
  display: inline;
  position: absolute;
  left: 60px;
  padding-top: 4px;
}

.toggle-wrapper {
  display: inline;
  position: absolute;
  padding-top: 6px;
  right: 2px;
}

.toggle-wrapper a {
  text-decoration: none;
  color: white;
}

.toggle-wrapper a:hover {
  color: #ccc;
}

#squares {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  height: 80.75vh;
  width: 75vw;
  grid-gap: .6em;
  padding: .5em;
  margin: 0 auto 1.25em auto;
  background-color: #777;
  -webkit-box-shadow: 2px 2px #2a2a2a;
          box-shadow: 2px 2px #2a2a2a;
}

.square {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #aaa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 1.5px 1.5px #5d5d5d;
          box-shadow: 1.5px 1.5px #5d5d5d;
  border-radius: 1.5px;
}

#squares-remaining {
  display: block;
  font-size: 1.25em;
  text-align: center;
}

#victoryMsgBox {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 17.2%;
  height: 525px;
  width: 550px;
  background-color: white;
  border-radius: 12px;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
}

#victoryMsg {
  margin-top: 4%;
  font-size: 100px;
  color: red;
  font-weight: 900;
  background-color: white;
  z-index: 1;
  display: none;
}

#victoryTime {
  font-size: 1.5em;
  margin-top: 225px;
  z-index: 1;
  display: none;
}

#recordTime {
  font-size: 1.25em;
  margin-top: 20px;
  z-index: 1;
  display: none;
}

#content {
  padding-bottom: 2.5em;
}

footer {
  height: 2.5em;
  position: absolute;
  bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.googleSignOut {
  position: absolute;
  top: 16.5px;
  right: 18%;
  color: #000;
  font-size: .9em;
}

.googleSignOut:hover {
  color: #111;
}

#copyright {
  margin-bottom: 6px;
}

@media only screen and (max-width: 2400px) {
  #title {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 2220px) {
  #title {
    margin-left: 1.8rem;
  }
}

@media only screen and (max-width: 2050px) {
  #title {
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: 1900px) {
  #title {
    margin-left: 1.2rem;
  }
  .googleSignOut {
    right: 19.5%;
  }
}

@media only screen and (max-width: 1650px) {
  #squares {
    height: 78vh;
  }
}

@media only screen and (max-width: 1500px) {
  #squares {
    height: 75vh;
  }
  #prompt-trace, #prompt-click, #prompt-trace-replace {
    font-size: 1.7rem;
  }
  .btn-wrapper {
    margin-top: 1.35rem;
  }
  .googleSignOut {
    right: 20.5%;
  }
}

@media only screen and (max-width: 1350px) {
  #squares {
    height: 70vw;
    grid-gap: .45em;
  }
  #title {
    font-size: 2.25rem;
  }
  #prompt-trace, #prompt-click, #prompt-trace-replace {
    font-size: 1.55rem;
  }
  header {
    margin-top: .5rem;
  }
  .btn-wrapper {
    margin-top: 3rem;
  }
  .googleSignOut {
    right: 21.5%;
  }
}

@media only screen and (max-width: 1200px) {
  #title {
    font-size: 2rem;
    margin-left: 1rem;
  }
  #prompt-trace, #prompt-click, #prompt-trace-replace {
    font-size: 1.25rem;
  }
  header {
    margin-top: .9rem;
  }
  .btn-wrapper {
    margin-top: 7rem;
  }
  #victoryMsgBox {
    top: 27vw;
    height: 42vw;
    width: 42vw;
  }
  #victoryMsg {
    font-size: 5vw;
  }
  #victoryTime {
    margin-top: 125px;
    font-size: 2vw;
  }
  #recordTime {
    margin-top: 15px;
    font-size: 1.5vw;
  }
  .googleSignOut {
    right: 23%;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    margin-top: 7.5rem;
  }
  #prompt-trace, #prompt-click, #prompt-trace-replace {
    padding-top: 1.9rem;
  }
  .btn-wrapper {
    margin-top: .45rem;
  }
  .btn-wrapper #how-to-play {
    right: 155px;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    margin-top: 10rem;
  }
  header #prompt-trace, header #prompt-click, header #prompt-trace-replace {
    padding-top: 2.3rem;
    font-size: 1.15rem;
  }
  .square {
    font-size: .8rem;
  }
  #victoryMsgBox {
    top: 33vw;
    height: 33vw;
    width: 33vw;
  }
  .googleSignOut {
    right: 26%;
  }
  .btn-wrapper #help-menu {
    right: 18vw;
    margin-top: 32px;
  }
}

@media only screen and (max-width: 799px) {
  header {
    margin-top: 8.5rem;
  }
  header #title {
    font-size: 1.65rem;
  }
  header #prompt-trace, header #prompt-click, header #prompt-trace-replace {
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: .25rem;
  }
  .btn-wrapper {
    font-size: .85rem;
  }
  .btn-wrapper #how-to-play {
    right: 140px;
    font-size: .75rem;
  }
  #timer {
    left: 55px;
  }
  #victoryMsgBox {
    top: 40vw;
    height: 225px;
    width: 225px;
  }
  #victoryMsg {
    font-size: 70px;
  }
  #victoryTime {
    margin-top: 80px;
    font-size: 1.2rem;
  }
  margin-top: 10px;
  margin-top-font-size: 1rem;
  #squares-remaining {
    font-size: 1rem;
  }
  .googleSignOut {
    right: 31%;
  }
}

@media only screen and (max-width: 550px) {
  header #title {
    font-size: 1.4rem;
  }
  header #prompt-click {
    font-size: .85rem;
  }
  header #prompt-trace {
    display: none;
  }
  header #prompt-trace-replace {
    display: block;
    padding-top: 0rem;
    -ms-grid-column: 3;
        grid-column-start: 3;
    font-size: .75rem;
  }
  .btn-wrapper {
    font-size: .75rem;
  }
  .btn-wrapper #how-to-play {
    right: 120px;
    margin-top: 3.5px;
    font-size: .65rem;
  }
  #timer {
    left: 50px;
  }
  #squares {
    grid-gap: .35em;
    padding: .4em;
  }
  .square {
    font-size: .7rem;
  }
  #squares-remaining, #prompt-trace, #prompt-trace-replace {
    font-size: .875rem;
  }
  #prompt-trace, #prompt-trace-replace {
    padding-top: 1.75rem;
  }
  footer {
    font-size: .8rem;
  }
  .googleSignOut {
    right: 35%;
  }
}

@media only screen and (max-width: 500px) {
  #title {
    font-size: 1.25rem;
  }
  #prompt-trace, #prompt-trace-replace, #squares-remaining, #prompt-click {
    font-size: .75rem;
  }
  #victoryMsgBox {
    top: 60vw;
    height: 150px;
    width: 150px;
  }
  #victoryMsg {
    font-size: 20px;
  }
  #victoryTime {
    margin-top: 60px;
    font-size: .775rem;
  }
  #recordTime {
    margin-top: 5px;
    font-size: .65rem;
  }
  .googleSignOut {
    right: 40%;
  }
}

@media only screen and (max-width: 420px) {
  header {
    margin-top: 6.25rem;
  }
  header #title {
    font-size: 1.1rem;
  }
  header #prompt-click {
    font-size: .7rem;
    padding-top: 1.65rem;
  }
  header #prompt-trace-replace {
    font-size: .575rem;
  }
  .btn-wrapper {
    font-size: .7rem;
  }
  .btn-wrapper #how-to-play {
    right: 110px;
    margin-top: 2.5px;
  }
  #timer {
    left: 44px;
  }
  #squares {
    padding: .35em;
  }
  .square {
    font-size: .55rem;
  }
  #squares-remaining {
    font-size: .8rem;
  }
  footer {
    font-size: .71rem;
  }
  .googleSignOut {
    right: 43%;
  }
}
/*# sourceMappingURL=style.css.map */